@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-radial {
    background-image: radial-gradient(circle, #ffffcc, rgb(249, 250, 251));
  }
}

@layer utilities {
  .grid-rows-0 {
    grid-template-rows: 0fr;
  }
  .grid-rows-1fr {
    grid-template-rows: 1fr;
  }
  .text-last-center {
    text-align-last: center;
  }
  .text-last-center {
    text-align-last: left;
  }
}
